{% extends 'base.html' %} {%block head%}
<title>Change password</title>
{%endblock%} {%block body%}


<div class="centerBox ">
<div class="form-group">
<div class='card'>
  <form method="POST" class="boxpassword">
    {%csrf_token%} 
    <a  class="forgotPasswordTitle"
                >Change Password</a
              >
     <input
              type="password"
              class="form-control"
              name="old_password"
              id="old_password"
              placeholder="Old Password"
              required
            />
            <input
              type="password"
              class="form-control"
              name="new_password1"
              id="new_password1"
              placeholder="New Password"
            
            />

             <input
              type="password"
              class="form-control"
              name="new_password2"
              id="new_password2"
              placeholder="New Password Confirmation"
              required
            />


    <button class="submitpass" type="submit">Submit</button>
    <br></br>
    <ul>
  <li>Your password can't be too similar to your other personal information. </li>
 <li> Your password must contain at least 8 characters. </li>
 <li> Your password can't be a comonly used password. </li>
  <li> Your password can't be entirely numeric. </li>
  </ul>
  </form>
  

  </div>
  </div>
</div>

  {%endblock%}

