{% extends 'base.html' %} 
{%block body%}
<div class="passwordSentBackground">
<div class="centerBox tint">
        <div class="card">
          <form method="post" class="box">
            {%csrf_token%}
            <h1>
              <a class="forgotPass">Password reset sent</a>
            </h1>
              <p class="text-muted">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h5><br>
   <h6 class="text-muted">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.<h6>

            <a href="/account/">Return to home page</a>
          </form>
        </div>
      
  </div>
</div>
</div>
{% endblock%}


