{%extends 'base.html' %} {%block body%}

<div class="passwordBackground">
  <div class="centerBox tint">
  
        <div class="card">
          <form method="post" class="box">
            {%csrf_token%}
            <h1>
              <a class="forgotPass">Forgot Password</a>
            </h1>
            <p class="text-muted">Please enter your email below</p>
            <input
              type="input"
              class="form-control"
              name="email"
              placeholder="Email"
              required
            />

            <button type="submit">Send Email</button>
            <a class="forgot text-muted" href="/account/login/"
              >Got your memory back? LogiN!</a
            >
          </form>
        </div>
     
  </div>
</div>

{% endblock%}





